
@import 'variables/font';
@import 'mixins/flexbox';
@media screen and  (max-width:420px) {
    
    html,body{
        margin: 0%;
        font-family: $fonts1;	
    }
        
  /*PARTIE logo oh my food*/
    .logo{
        text-align: center;
        
  
             & img{
                width: 50%;
                 padding: 5%;
       
    }  
            }
        /*PARTIE LOCALISATION IMPUT*/
        .localisation {
            background-color: #DBD9D9;
           @include flexbox();
            box-shadow: 0px 0px 5px gray;
        
                & i{
                    padding: 17px;
                    margin-left: 11%;
                }
        }                
                
        input {
            background-color: #DBD9D9;
            border: none;
            font-size: 1.2em;
            font-weight: 900;
            font-family: $fonts1;
        }
     
    
        /*PARTIE RESERVATION*/
        .reservation {
            background-color: #f2f2f2;
            @include flexbox();
           
        
            .reservation__text {
                  width: 77%;
                 font-family:$fonts1;
      
            }
        }
            .reservation__paragraphe {
                 width: 80%;
                font-family: $fonts1;
            }
           
            .reservation__explorer {
               @include button1();
               &:hover{ background-color: #fff;
                    box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
                } 
            }
        
      
        /*PARTIE FONCTIONNEMENT*/
        .fonction h2, .restaurant h2{
            margin-left: 20px;
        }
            .fonction__contenu {
                @include flexbox();
                border-radius: 31px;
                background-color: #F2F2F2;
                margin: 24px;
                padding: 6px;
                cursor: pointer;
                &:active{
                    background-color:#d9a7d9
                }
            }                
      
        .fonction__chiffre {
            @include flexbox();
            border-radius: 50%;
            background-color:$primary-color;
            padding: 5px;
            margin: 5px;
            position: absolute;
            left: 3%;
            color: white;
            font-size: 0.9rem;
            width: 12px;
            
        }
        .fonction__emoticone {
            position: absolute;
            left: 18%;
            color: grey;
       
                    & p{
                        font-size: 1.1rem;
                    }
        }
        /*partie carte image resto*/
        .restaurant {
            background-color:#f0efef;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 20px;
        
            &__article {
                color: black;
                margin-bottom: 8px;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                cursor: pointer;
                
                &:hover{
                    transform: scale(1.1);
                }
            } 
        }      
            .restaurant__liens {
                    text-decoration: none;
                    display: block;
                    position: relative;
            } 
            
     
        .restaurant__img img {
        
                border-radius: 15px 15px 0px 0px;
                object-fit: cover;
                border: 0px solid transparent;
                width: 88%;
                @include flexbox();
                box-shadow: none;
        }
        
        .restaurant__img {
            width: 100%;
           @include flexbox();
            text-decoration: none;
        }
        .badge {
            background-color: $tertiary-color;
            color: green;
            position: absolute;
            top: 16px;
            right: 34px;
            height: 8%;
            width: 23%;
           @include flexbox();
            font-size: 1.1rem;
            
        }
        .restaurant__titre {
            color: black;
            font-family: $fonts1;
            font-size: 1.3rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: white;
            width: 85%;
            border-radius: 0 0 15px 15px;
            padding-left: 3%;
            margin-left: 6%;
            padding-bottom: 12px;
            box-shadow: 4px 6px 2px #e3e0e0;
        }
        
        .restaurant__coeur {
            position: absolute;
            bottom: 39px;
            right: 31px;
            width: 33px;
            height: 29PX;
            font-size: 2rem;
            
        } 
        .restaurant__coeur:hover{
            background: linear-gradient($secondary-color,$primary-color);
           opacity: 1;
           background-color: white;
        }

        
        
        /*PARTIE FOOTER*/
        .logofooter{
            
            font-family:$fonts2 ;
            font-size: 1.5rem;
            color: white;
            margin-left: 33px;
        }
        footer {
            background-color: #000000bf;
            color: white;
            list-style: none;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
       
        
            
            & ul{
            
                list-style: none;
                display: flex;
                flex-direction: column;
                font-family:$fonts1;
                font-size: 1.5rem;
            
            }
        }
        .logofoter__emoticone {
            display: flex;
            flex-direction: row;
            margin-right: 16px;
        }
        .logofooter__text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .Contact {
            text-decoration: none;
            color: white;
        }
        
        /*PARTIE MAQUETTE DES MENU */
        .menunav {
            @include flexbox();

            & img {
               @include flexbox();
                width: 63%;
                margin-top: 8px;
            
            }

        }
       
        .retour__menu {
            position: absolute;
            left: 10px;
            font-size: 1.5rem;
            color: black;
            top: 1rem;
        }
        .menunav__image img{
                width: 100%;
                margin-top: 10px;
                object-fit: cover;
                
        }
            .menunav__titre {
                font-family: $fonts2;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            
            }
            .titre__coeur {
                font-size: 1.5rem;
            }
        .corps {
            background-color: #f6f6f6;
            border-radius: 40PX 40px 0px 0px;
            position: relative;
            margin-top: -44px;
        }
            .titre__menu {
                border-bottom: 3px solid #99e2d0;
                width: 46px;
                font-family:$fonts1 ;
                margin-left: 5px;
            }
            .carte__menu {
                margin-left: 7px;
                margin-right: 7px;
            }
        
        .entree1 {
            display: flex;
            flex-direction: column;
            border-radius: 25PX 25PX 18px 18px;
            background-color: white;
            margin-bottom: 10px;
            padding: 7px;
            flex-wrap: wrap;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
             cursor: pointer;   
        }
        .menu__entree,.menu__plats,.menu__desserts {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            &:hover{
                transform: scale(2);
            }
        }
        .description {
            margin-top: -10px;
            padding: 0px;
        }
        .plat {
            margin-top: 4px;
        }
        .menu__prix {
            position: absolute;
            right: 28px;
            margin-top: 32px;
            font-weight: 700;
        }
        .commande {
          @include button ;  
            &:hover{ background-color: #fff;
                box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
            }  
        }
        .button__commande {
            display: flex;
            margin-top: 10px;
            padding-bottom: 20px;
           
        }
} 
        
/*DESKTOP*/
@media screen and (min-width:1024px) {
	
    
    .logo img {
		display: flex;
		flex-wrap: wrap;
		margin-left: 30rem;
		padding-bottom: 11px;
	}
	.localisation {
		background-color: #DBD9D9;
		@include flexbox();
		box-shadow: 4px 0px 10px gray;
	}

.localisation i{
    padding: 17px;
    margin-left: 11%;

}
.localisation input {
	background-color: #DBD9D9;
	border: none;
	font-size: 1.2em;
	font-weight: 900;

}

/*PARTIE RESERVATION*/
.reservation {
	background-color: #f2f2f2;
	@include flexbox();
    height: 199PX;
}
.reservation__text {
	font-family: $fonts2;
	
}
.reservation__paragraphe {
   font-size: 1.5rem;
   font-family: $fonts2;
   margin-top: 59px;

}
.reservation__explorer {
    position: absolute;
    top: 209px;
	border-radius: 30px;
	padding: 20px;
	color: white;
	font-size: 1rem;
	margin-bottom: 61px;
	background: linear-gradient(#FF79DA,#BE56DB);
    cursor: pointer;
    &:hover{ background-color: #fff;
        box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
        transform: scale(1.1);
    } 
}

/*PARTIE FONCTIONNEMENT*/

.fonction {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.fonction h2,.restaurant h2{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	font-family: $fonts2;
}
.fonction__contenu {
	@include flexbox();
	border-radius: 31px;
	background-color: #F2F2F2;
	margin: 24px;
	padding: 6px;
	width: 20%;
}
.fonction__contenu:hover {
	transform: scale(1.1);
	cursor: pointer;
	background-color: #D7D4D4;
}


.fonction__chiffre {
	@include flexbox();
	border-radius: 50%;
	background-color: $primary-color;
	padding: 5px;
	margin: 5px;
	position: absolute;
	color: white;
	font-size: 0.9rem;
	width: 12px;
	margin-left: -262PX;
}
.fonction__emoticone {
	color: grey;
		display: flex;
		justify-content: flex-start;
		margin-right: 29px;
	
}
.fonction__emoticone p{
	font-size: 1.1rem;
}

.restaurant__contenu {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}

.restaurant {
	background-color: #f6f6f6;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}

.restaurant__article {
	color: black;
	margin-bottom: 8px;
	border-radius: 15px;
	display: flex;
	margin-bottom: 30px;
	cursor: pointer;
	width: 26%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.restaurant__article:hover {
	transform: scale(1.1) rotate(5deg);
}

.restaurant__liens {
	text-decoration: none;
	display: block;
	position: relative;
}
.restaurant__article img {

		border-radius: 15px 15px 0px 0px;
		object-fit: cover;
		border: 0px solid transparent;
		width: 95%;
		@include flexbox();
		box-shadow: none;
}

.article__img {
	width: 100%;
	@include flexbox();
	text-decoration: none;
}
.badge {
	background-color: $tertiary-color;
	color: green;
	position: absolute;
	top: 16px;
	right: 30px;
	height: 8%;
	width: 23%;
	font-size: 1.1rem;
	@include flexbox();
}
.restaurant__titre {
	color: black;
	font-family: roboto;
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: white;
    width: 93%;
	border-radius: 0 0 15px 15px;
	padding-left: 3%;
	padding-bottom: 12px;
}

.restaurant__coeur {
	position: absolute;
	bottom: 39px;
	right: 16px;
	width: 33px;
	height: 29PX;
	font-size: 2rem;
}
.restaurant__coeur:hover{
    background: linear-gradient($secondary-color,$primary-color);
    opacity: 1;
    transform: scale(1.2);
}

/*PARTIE FOOTER*/
.logofooter{
	
	font-family:$fonts2 ;
	font-size: 1.5rem;
	color: white;
	margin-left: 33px;
}

    footer {
        background-color: #000000bf;
        color: white;
        list-style: none;
       @include flexbox();
        flex-direction: column;
       flex-wrap: wrap;
       
    }


	
footer ul{
	
		list-style: none;
		display: flex;
		flex-direction: column;
		font-size: 1.2rem;
	
}
.logofoter__emoticone {
	display: flex;
	flex-direction: row;
	margin-right: 16px;
}
.logofooter__text {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.Contact {
	text-decoration: none;
	color: white;
}

}
     /*PARTIE MAQUETTE DES MENU */
    
     @media screen and (min-width:1024px) {
        
    
     .menunav {
        @include flexbox();

        & img {
           @include flexbox();
            
            margin-top: 8px;
        
        }

    }
   
    .retour__menu {
        position: absolute;
        left: 10px;
        font-size: 1.5rem;
        color: black;
        
    }
    .menunav__image img{
            width: 100%;
            margin-top: 10px;
            object-fit: cover;
            max-height: 32rem;
    }
        .menunav__titre {
            font-family: $fonts2;
            padding: 1rem 2rem 0 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        
        }
        .titre__coeur {
            font-size: 1.5rem;
        }
    .corps {
        background-color: #f6f6f6;
        border-radius: 40PX 40px 0px 0px;
        position: relative;
        margin-top: -99px;
        margin-right: 30px;
        margin-left: 30px;
        

    }

        .titre__menu {
            border-bottom: 3px solid #99e2d0;
            width: 46px;
            font-family:$fonts1 ;
            margin-left: 5px;
        }
        .carte__menu {
            margin-left: 163px;
             width: 72%;
            display: flex;
            position: relative;
            flex-direction: column;
                
        }
    
    .entree1 {
        display: flex;
        flex-direction: column;
        border-radius: 25PX 25PX 18px 18px;
        background-color: white;
        margin-bottom: 10px;
        padding: 7px;
        flex-wrap: wrap;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
         cursor: pointer;   
    }
    .menu__entree,.menu__desserts {
        display:flex;
        flex-direction:column;
        animation-delay: 1s;
    }
    .menu__plats{
        display:flex;
        flex-direction:column;
        animation-delay: 10s;   
    }
    .description {
        margin-top: -10px;
        padding: 0px;
    }
    .plat {
        margin-top: 4px;
    }
    .menu__prix {
        position: absolute;
        right: 28px;
        margin-top: 32px;
        font-weight: 700;
    }
    .commande {
      @include button() ;
        width: 30%; 
      &:hover{ background-color: #fff;
            box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
            cursor: pointer;
            
        }     
    }
    .button__commande {
        display: flex;
        margin-top: 10px;
        padding-bottom: 10px;
       @include flexbox();
    }
} 